h1{
    color: red;
}

body {
    background: #fefefe url("https://s3.amazonaws.com/pbblogassets/uploads/2018/10/22074923/pink-sky-cover.jpg")
    center no-repeat fixed;
    background-size: 100%;
}

input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    padding: 20px;
}

form, #products, #categories, #categoriesAll {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

/*.container {*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    flex-wrap: wrap;*/
/*}*/

#navbar ul{
    display: none;
    background-color: #f90;
    position: absolute;
    top: 100%;
}
#navbar li:hover ul { display: block; }
#navbar, #navbar ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#navbar {
    height: 30px;
    background-color: #666;
    padding-left: 25px;
    min-width: 470px;
}
#navbar li {
    float: left;
    position: relative;
    height: 100%;
}
#navbar li a {
    display: block;
    padding: 6px;
    width: 100px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f90; }
#navbar ul li:hover { background-color: #666; }

#products td, #products th, #categories td, #categories th, #categoriesAll td, #categoriesAll th  {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

/*#products tr:nth-child(even), #categories tr:nth-child(even), #categoriesAll tr:nth-child(even){background-color: #f2f2f2;}*/

/*#products tr:hover, #categories tr:hover, #categoriesAll tr:hover {background-color: #ddd;}*/

#products th, #categories th, #categoriesAll th  {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

/*#getFile #getFileUpdate {*/
/*    border-radius: 2px;*/
/*    background-color: #8b872d;*/
/*    color: white;*/
/*}*/

.button, .buttonUpdate, .menu-button, .img-button, #openModal, #selectCategory{
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.menu-button, #openModal, #selectCategory{
    background-color: forestgreen;
}

.buttonUpdate{
    background-color: #8b872d;
}

.img-button{
    background-color: #2e8b84;
}

.product-title {
    text-align: center;
}

#img-container {
    text-align: center;
}

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s

}

/* Modal Content */
.modal-content {
    /*position: fixed;*/
    bottom: 0;
    background-color: #fefefe;
    width: 95%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

